@import "./variable";
@import "./mixin";

h1 {
    font-weight: 700;
    font-size: $font-size-primery;
    line-height: $h1-lh;
    letter-spacing: -0.8px;
    font-style: bold;
}

h2 {
    font-weight: 700;
    font-size: $font-size-fourth;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    // line-height: $h2-lh;
    // line-height: 1.2;
}

.title-gap{
    @include flex(column, flex-start, center, 15px);
}

h3 {
    font-size: $font-size-third;
    font-family: 500;
    line-height: $base-lh-1;
    letter-spacing: -0.8px;
}

h4 {
    font-size: $font-size-base05;
    font-family: 500;
    letter-spacing: -0.8px;
}

p {
    font-size: $font-size-base1;
    line-height: $base-lh-2;
    font-weight: 400;
}

@media(max-width:992px) {
    h2 {
        font-size: $font-size-sixith;
        // line-height: $h5-lh;
    }

    p {
        line-height: $medium-lh;
    }
}

@media(max-width:576px) {
    h3 {
        font-size: $font-size-sixith;
        line-height: auto;
    }
}

// used for all section full images
.image-full-inner {
    width: 100%;
    height: auto;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    @media(max-width:576px) {
        margin-bottom: 20px;
    }

}

// .inner-h4 {
//     font-weight: 700;
//     margin: 0 0 36px;
//     font-size: $font-size-fourth;
//     line-height: 100%;
//     text-transform: uppercase;

//     @media(max-width:576px) {
//         font-size: $font-size-fifth;
//     }
// }

.font-18{
    font-size: $font-size-base05; line-height: $base-lh-1;
    @media(max-width:576px) {
        font-size: $font-size-base1; line-height: 28px;
    }
}