@import "./variable";
@import "./mixin";

html {
    scroll-behavior: smooth;
}

.container-relative {
    position: relative;
}

h1 {
    font-weight: 700;
    font-size: $font-size-third;
    line-height: 100%;
    letter-spacing: -0.8px;
    font-style: bold;

    @media(max-width:1200px) {
        font-size: $font-footer-heading;
    }

    @media(max-width:992px) {
        font-size: $font-size-fourth;
    }

}

.hero-title {
    font-size: $font-size-primery ;
    line-height: $h1-lh;

    span {
        white-space: nowrap;
    }
}

h2 {
    font-weight: 700;
    font-size: $font-size-fourth;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    // line-height: $h2-lh;
    // line-height: 1.2;
}

.title-gap {
    @include flex(column, flex-start, center, 15px);
}

h3 {
    font-size: $font-size-third;
    font-family: 500;
    line-height: $base-lh-1;
    letter-spacing: -0.8px;
}

h4 {
    font-size: $font-size-base05;
    font-family: 500;
    letter-spacing: -0.8px;
}

p {
    font-size: $font-size-base1;
    line-height: $base-lh-2;
    font-weight: 400;
}


@media(max-width:1440px) {
    .hero-title {
        font-size: $font-size-third;
        line-height: $h2-lh;
    }
}

@media(max-width:1200px) {
    .hero-title {
        font-size: $font-size-third-2;
        line-height: 65px;
    }
}

@media(max-width:992px) {
    .hero-title {
        font-size: $font-size-fourth;
        line-height: $h3-lh-2;
    }

    h2 {
        margin-bottom: 18px;
    }

    p {
        line-height: $medium-lh;
    }
}

@media(max-width:768px) {
    .hero-title {
        font-size: $font-768-title;
        line-height: $h5-lh;
    }
}

@media(max-width:576px) {
    h2 {
        font-size: $font-size-fifth;
    }

    h3 {
        font-size: $font-size-sixith;
        line-height: auto;
    }
}

@media(max-width:430px) {
    .hero-title {
        font-size: 29px;
        line-height: $head-lh;
    }
}

.down-arrow {
    width: 18px;
    filter: invert(1);
}

.down-arrow-nav {
    width: 18px;
}

.title-gap {
    @include flex(column, flex-start, center, 15px)
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.scroll-h4 {
    font-size: $font-size-fifth;
    font-weight: 700;
    font-style: italic;
}

.dashed-border {
    border-bottom: 1px dashed $gray-text;
}

.title-content {
    position: relative;
    z-index: 4;
}

.hero-btn {
    padding: 12px 12px 12px 20px;
    font-size: 24px;
    // line-height: 30px;
    font-weight: 500;
    @include flex(row, center, center, 10px);
    border-radius: $radius-pill;
    width: fit-content;
    background: $primary;
    color: $light;
    border: none;
    transition: .5s all ease-in;
    text-decoration: none;

    img {
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 50%;
        transition: .5s all ease-in;
        background: $light;
    }

    &:hover {
        background-color: #000000;
        transition: .5s all ease-in;
    }

    &:hover img {
        transform: rotate(45deg);
        transition: .5s all ease-in;
    }

    @media(max-width:992px) {
        padding: 6px 6px 6px 18px;
        font-size: $font-size-base2;
        gap: 12px;
        border-radius: 60PX;
    }

    @media(max-width:768px) {
        padding: 6px 6px 6px 18px;
        font-size: $font-size-base1;

        img {
            width: 30px;
            height: 30px;
        }
    }
}

// animated btn link
.animated-arrow-btn {
    background: $white;
    border-radius: $radius-round;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;

    img {
        will-change: transform;
    }
}

// animated calling btn
.wave {
    fill: none;
    stroke: $white;
    stroke-width: 2;
    stroke-linecap: round;
    opacity: 0;
    animation: pulse 1.2s infinite;
}

.wave1 {
    animation-delay: 0s;
}

.wave2 {
    animation-delay: 0.2s;
}

// .wave3 {
//     animation-delay: 0.6s;
// }

@keyframes pulse {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


// ufe for fopter align with other page top sections
.footer-gradient-pb {
    position: relative;
    background: linear-gradient(51deg, rgba(233, 216, 255, 0.54) 10%, rgba(255, 255, 255, 0.82) 27%, rgba(173, 240, 255, 0.25) 48%, rgba(255, 255, 255, 0.71) 100%);

    // &::before {
    //     content: "";
    //     width: 70%;
    //     position: absolute;
    //     height: 1000px;
    //     background-image: url("/src/assets/images/tback-1.svg");
    //     background-size: cover;
    //     left: 70px;
    //     top: -30px;
    //     z-index: 1;
    // }

    &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 1000px;
        background-image: url("/src/assets/images/tback-2.svg");
        background-size: cover;
        right: 0px;
        top: -30px;
        z-index: 1;
    }
}


// loader animation


/* LOADER */
.loader {
    position: fixed;
    inset: 0;
    background: #fff;
    z-index: 9999;
    overflow: hidden;
}

/* PANELS */
.panel {
    position: absolute;
    width: 100%;
    height: 50vh;
    background: #fff;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

/* CIRCLE */
.circle-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg {
    display: block;
}

/* LETTER */
.letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    font-size: 36px;
    font-weight: bold;
    color: $black;
    opacity: 0;
}

/* CURSOR */
.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: $blue;
    border-radius: 50%;
    transform: scale(0);
}


.activeTypePlan {
    background: linear-gradient(275deg, rgba(229, 241, 255, 0.8) 67%, rgba(237, 245, 255, 0.74) 94%, rgba(223, 249, 255, 0.75) 100%);

    @media (max-width: 768px) {
        display: none !important;
    }
}

.tab-br {
    display: none;

    @media(max-width:420px) {
        display: block;
    }
}


.plan-desc {
    font-size: $font-size-base0875;
}

.h1-text-animation {
    --i: 0;
    color: #00000026;
    position: relative;
    display: inline-block;

    &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: $primary;
        border-right: 3px solid $primary;
        animation: animate 4s linear infinite;
        overflow: hidden;
        white-space: nowrap;

    }

    @keyframes animate {

        0%,
        10%,
        100% {
            width: 0;
        }

        70%,
        90% {
            width: 100%;
        }
    }
}

.secondery-btn {
    padding: 6px 6px 6px 12px;
    font-size: $font-size-base1;
    // line-height: 30px;
    font-weight: 500;
    @include flex(row, center, center, 10px);
    border-radius: $radius-pill;
    width: fit-content;
    background: $primary;
    color: $light;
    border: none;
    transition: .5s all ease-in;
    text-decoration: none;
}

@media (max-width: 375px) {
    .hero-title {
        font-size: 26px;
        line-height: 30px;
    }
}