@import "./variable";

h1 {
    font-weight: 700;
    font-size: $font-size-primery;
    line-height: $h1-lh;
    letter-spacing: -0.8px;
    font-style: bold;
}

h2 {
    font-weight: 600;
    font-size: $font-size-fourth;
    // line-height: $h2-lh;
    // line-height: 1.2;
}

h3 {
    font-size: $font-size-third;
    font-family: 500;
    line-height: $base-lh-1;
    letter-spacing: -0.8px;
}

p {
    font-size: $font-size-base1;
    line-height: $base-lh-2;
    font-weight: 400;
}

@media(max-width:992px) {
    h2 {
        font-size: $font-size-fourth;
        // line-height: $h5-lh;
        margin-bottom: 18px;
    }

    p {
        line-height: $medium-lh;
    }
}

@media(max-width:576px) {
    h3 {
        font-size: $font-size-base2;
        line-height: auto;
    }
}