@import "./variable";
@import "./mixin";

h1 {
    font-weight: 700;
    font-size: $font-size-third;
    line-height: 100%;
    letter-spacing: -0.8px;
    font-style: bold;
     
    @media(max-width:1200px) {
        font-size: $font-footer-heading;
    }
    @media(max-width:992px) {
        font-size: $font-size-fourth;
    }

}

.hero-title {
    font-size: $font-size-primery ;
    span {
        color: #022B5B;
    }
}

h2 {
    font-weight: 700;
    font-size: $font-size-fourth;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    // line-height: $h2-lh;
    // line-height: 1.2;
}

.title-gap{
    @include flex(column, flex-start, center, 15px);
}

h3 {
    font-size: $font-size-third;
    font-family: 500;
    line-height: $base-lh-1;
    letter-spacing: -0.8px;
}

h4 {
    font-size: $font-size-base05;
    font-family: 500;
    letter-spacing: -0.8px;
}

p {
    font-size: $font-size-base1;
    line-height: $base-lh-2;
    font-weight: 400;
}

// @media(max-width:1440px) {
//     h1 {
//         font-size: $font-size-third;
//     }
// }

@media(max-width:992px) {
    .hero-title {
        font-size: $font-size-fourth;
    }

    h2 {
        margin-bottom: 18px;
    }

    p {
        line-height: $medium-lh;
    }
}

// @media(max-width:768px) {
//     h1 {
//         font-size: $font-size-36;
//     }
// }

@media(max-width:576px) {
    h1 {
        font-size: $font-size-sixith;
    }

    h3 {
        font-size: $font-size-sixith;
        line-height: auto;
    }
}

.down-arrow {
    width: 18px;
    filter: invert(1);
}

.down-arrow-nav {
    width: 18px;
}

.title-gap {
    @include flex(column, flex-start, center, 15px)
}

a {
    text-decoration: none;
}