// Base colors
$primary: #0d6efd;
$secondary: #6c757d;
$trinery: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

// Grayscale
$gray-100: #f8f9fa;
$gray-600: #6c757d;
$gray-900: #212529;

// Theme color
$theme-primary: $primary;
$theme-secondary: $secondary;
$theme-success: $success;
$theme-info: $info;
$theme-warning: $warning;
$theme-danger: $danger;
$theme-light: $light;
$theme-dark: $dark;

// Headings
$font-size-h1: 5.625rem;
$font-size-h2: 70px;
$font-size-h3: 60px;
$font-size-h4: 50px;
$font-size-h5: 40px;
$font-size-h6: 30px;

// Body text
$font-size-subtitle:clamp(1rem, 0.92rem + 0.4vw, 1.25rem);;
$font-size-base1: 1.25rem;
$font-size-base2: 1rem;

// line height
$head-lh: 36px;
$base-lh: 28px;
$medium-lh: 24px;
$small-lh: 20px;