// Base colors
$primary: #022B5B;
$secondary: #6c757d;
$trinery: #F5F5F5;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$text: #1B1D1E99;
$blue: #0F6DDA;
$dark-blue: #083A74;
$gray-text: #D5D5D5D1;
$black: #000000;
$white: #ffffff;
$tbl-borders: #DBDBDB;
$gray-text-2: #BABABA;
$black: #000000;
$white: #ffffff;
// Grayscale
$gray-100: #f8f9fa;
$gray-600: #6c757d;
$gray-900: #212529;
$testi-text: #2C2C2C;
$testi-border: #EDEDED;
$futer-txt-btm: #9E9E9E;
$inner-testi-background: #F2F3EF;
$link-blue: #1A85F8;
$link-black: #0C0C0C;

// Theme color
$theme-primary: $primary;
$theme-secondary: $secondary;
$theme-success: $success;
$theme-info: $info;
$theme-warning: $warning;
$theme-danger: $danger;
$theme-light: $light;
$theme-dark: $dark;

// Headings
$font-size-primery: 5rem; //80px
$font-size-secondery: 4.5rem; //72px
$font-size-third: 3.75rem; //60px
$font-size-fourth: 2.5rem; //40px
$font-size-fifth: 1.875rem; //30px 
$font-size-sixith: 1.5rem; //24px
$font-size-seventh: 1.25rem; //20px
$font-size-eight: 1rem; //16px
$font-size-eighteen: 1.125rem; //18px
$font-footer-heading: 3.125rem; //50px
$font-992-title: 2.875rem; //46px
$font-768-title: 2.188rem; //35px

// Body text
$font-size-base075: 0.75rem; //12px
$font-size-base0875: 0.875rem; //14px
$font-size-base1: 1rem; //16px
$font-size-base05: 1.125rem; //18px
$font-size-base2: 1.25rem; // 20px
$font-size-base3: 1.5rem; //24px
$font-size-base8: 3rem; //48px

// line height
$h1-lh: 96px;
$h2-lh: 70px;
$h3-lh: 60px;
$h4-lh: 46px;
$h4-lh-2: 45px;
$h5-lh: 40px;
$head-lh: 36px;
$base-lh-1: 30px;
$base-lh-2: 28px;
$medium-lh: 24px;
$small-lh: 20px;
$small-lh-2: 22px;
$x-small-lh: 18px;
$medium-lh-2: 26px;

// radius
$radius-round: 50%;
$radius-pill: 50PX;
$radius-xxl: 25px;
$radius-xl: 20px;
$radius-l: 16px;
$radius-l-2: 14px;
$radius-m: 10px;
$radius-s: 8px;
$radius-xs: 4px;
$radius-30: 30px;