@import "./mixin";
@import "./common";
@import "./variable";








.custome-stack-section {
  width: 100%;
  position: relative;
  padding-bottom: 0px; // space for stacking scroll
  gap: 30px;

  @media(max-width:768px) {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  /* STACK CARDS */
  .stack-card {
    width: 100%;
    padding: 40px;
    border-radius: 0px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    height: auto;
  }

  /* Your existing background styles can remain */




  .stack-wrapper {
    position: relative;
    height: auto
  }

  .stack-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .about-wwb {
    margin-bottom: 100px;

    @media(max-width:768px) {
      margin-bottom: 0;
    }
  }


  .div-container {
    width: 100%;
    height: 600px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 100px;
    z-index: 1;

    section {
      width: 100%;
      height: auto;
    }

    h2 {
      font-size: $font-size-primery;
      color: transparent;
      -webkit-text-stroke: 2px #ffffff;
      text-stroke: 2px #ffffff;
      white-space: nowrap;
      will-change: transform;

      @media(max-width:1024px) {
        font-size: 2.5rem;
      }

      @media(max-width:768px) {
        font-size: 1.5rem;
        -webkit-text-stroke: 1px #ffffff;
        text-stroke: 1px #ffffff;
      }



    }

    @media(max-width:1024px) {
      height: 500px;
      padding: 40px 0;
    }

    @media(max-width:768px) {
      height: auto;
      padding: 20px 0;
      top: 0;
    }


  }

  .div1 {
    position: sticky;
    background: url("../images/vision-backgound.png") center/cover no-repeat;
    color: #fff;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(270deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.7));
      z-index: 1;
    }

    @media(max-width:768px) {
      position: relative;
    }
  }

  .div2 {
    z-index: 2;
    position: sticky;
    background: url("../images/exist-background.jpg") center/cover no-repeat;
    color: #fff;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(270deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.7));
      z-index: 3;
    }

    @media(max-width:768px) {
      position: relative;
    }
  }

  .div3 {
    z-index: 3;
    position: sticky;
    background: url("../images/diffrent-background.png") center/cover no-repeat;
    color: #fff;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(270deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.7));
      z-index: 1;
    }

    @media(max-width:768px) {
      position: relative;
    }
  }
}

.img-box {
  position: relative;
  padding: 32px 24px;
  background-color: $black;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  color: $white;
  gap: 23px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    border-radius: 10px;
    height: 90%;
    transform: translate(-50%, -50%);
    border: 2px solid $white;
    pointer-events: none;
  }

  .img-wrap {
    position: relative;
    width: 100%;
    height: auto;

    &::before {
      content: "";
      background: linear-gradient(180deg, #000000 2.37%, rgba(29, 29, 29, 0) 49.78%, #000000 97.18%);
      width: 100%;
      height: 100%;
      position: absolute;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  h2 {
    margin-bottom: 70px;

    @media(max-width:992px) {
      font-size: 1.5rem;
      margin: 0 0 20px;
    }

    @media(max-width:768px) {
      font-size: 1.5rem;
      margin: 0 0 20px;
    }
  }

}