@import "./mixin";
@import "./common";
@import "./variable";
.vision-section {
  position: relative;
  background: url('../images/vision-backgound.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

.exist-section {
  position: relative;
  background: url('../images/exist-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }
}


.diffrent-section {
  position: relative;
  background: url('../images/diffrent-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

.img-box {
  position: relative;
  padding: 32px 24px;
  background-color: $black;
  display: flex;
  align-items: center; border-radius: 10px;
  justify-content: center;
  flex-direction: column; color: $white; gap: 23px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%; border-radius: 10px;
    height: 90%;
    transform: translate(-50%, -50%);
    border: 2px solid $white;
    pointer-events: none;
    

  }
.img-wrap{position: relative; width: 100%; height: auto;

    &::before{content: ""; background: linear-gradient(180deg, #000000 2.37%, rgba(29, 29, 29, 0) 49.78%, #000000 97.18%); width: 100%; height: 100%; position: absolute;}
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
h2{margin-bottom: 70px;}
}



