@import "./common";
@import "./mixin";
@import "./variable";

.worldwide-business {
  position: relative;
  overflow: hidden;

  --x: 50%;
  --y: 50%;
  --r: 420px;
}


// grid bg
.chroma-grid-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;

  background:
    radial-gradient(
      circle var(--r) at var(--x) var(--y),
      rgba(255, 255, 255, 0.18),
      transparent 75%
    );
}



// overlay

.chroma-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 3;

    background:
        radial-gradient(circle 520px at var(--x) var(--y),
            rgba(255, 255, 255, 0.08),
            transparent 70%);
}


.chroma-fade {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0;

  background:
    radial-gradient(
      420px circle at var(--x) var(--y),
      rgba(255, 255, 255, 0.12),
      transparent 70%
    );
}


// card
.chroma-card {
    position: relative;
    cursor: pointer;
    z-index: 4;
}


// image
.chroma-img-wrapper {
    padding: 30px;
    height: 100%;
    @include flex(row, center, center, 0);
    border: 1px solid $light;
    border-radius: $radius-xs;
    transition: border-color 0.3s ease;
    position: relative;
    background: transparent;
    transition: border-color 0.3s ease;
    overflow: hidden;

    @media(max-width:768px) {
        img {
            width: 120px !important;
        }
    }
}


.chroma-card:hover .chroma-img-wrapper {
    border-color: var(--card-border);
    box-shadow: 0 0 15px color-mix(in srgb, var(--card-border), transparent 60%);
}

.chroma-card:hover .chroma-img-wrapper::before {
    opacity: 1;
}

.chroma-img-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--card-gradient);

    mask-image: radial-gradient(140px circle at var(--x) var(--y),
            white 0%,
            transparent 65%);

    opacity: 0;
    transition: opacity 0.25s ease;
}

.chroma-img-wrapper:hover::before {
    opacity: 1;
}

.chroma-img-wrapper img {
    object-fit: contain;
    position: relative;
    z-index: 3;
}
