@import "./common";
@import "./mixin";
@import "./variable";

.worldwide-business {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #093F7E 0%, #0F6AD3 50%);

    // --x: 50%;
    // --y: 50%;
    // --r: 300px;
}

.chrome-section {
    position: relative;
    width: 100%;
    // height: 100vh;
    overflow: hidden;

}

/* Cards */
.chrome-card {
    background: none;
    border-radius: 12px;
    padding: 30px 2px;
    text-align: center;
    border: 1px solid $gray-text;
    position: relative;

    // &:before {
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     content: "";
    //     backdrop-filter: grayscale(1) brightness(0.5);
    //     -webkit-backdrop-filter: grayscale(1) brightness(0.5);
    //     background: rgba(0, 0, 0, 0.001);
    // }
}

.chrome-card img {
    max-width: 170px;
    height: 60px;
    object-fit: contain;
    filter: brightness(0) invert(1) contrast(1.2);
    transition: filter 0.3s ease;
}

/* Overlay with gradient */
.chrome-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0.85;
    backdrop-filter: grayscale(0.1) brightness(0.90);
    -webkit-backdrop-filter: grayscale(0.1) brightness(0.58);
    background: rgba(0, 0, 0, 0.001);
    /* CSS mask for circular reveal */
    --x: 50%;
    --y: 50%;
    --r: 0px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        // background: linear-gradient(135deg, #083a74, #0f6dda);
        backdrop-filter: grayscale(1) brightness(0.78);
        -webkit-backdrop-filter: grayscale(1) brightness(0.78);
        // background: rgba(0, 0, 0, 0.5);
        opacity: 0.8;
        width: 100%;
        height: 100%;
    }

    mask-image: radial-gradient(circle var(--r) at var(--x) var(--y),
        transparent 10%,
        transparent 50%,
        rgb(218, 209, 209) 150%);

    -webkit-mask-image: radial-gradient(circle var(--r) at var(--x) var(--y),
        transparent 10%,
        transparent 50%,
        rgb(201, 189, 189) 150%);
}

/* Fade class */
.fade-overlay {
    transition: opacity 0.4s ease;
}