@import "./mixin";
@import "./common";
@import "./variable";

footer {
  // background: $black;
  background: linear-gradient(270deg, rgba(0, 0, 0, 1) 12%, rgba(0, 0, 0, 1) 38%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 63%, rgba(0, 0, 0, 1) 0%);
  @include flex(column, center, center, 0);
  position: relative;
  z-index: 1;

  @media(max-width:1598px) {
    background: none;
  }

  .hero-btn {
    border: 1px solid $primary !important;

    &:hover {
      border-color: $white !important;

      a {
        color: $white !important;
      }
    }

  }
}

.footer-section {
  padding: 100px 0 38px 0;
  min-height: 300px;
  // background: $white;
  background-image: url("../images/webiqui_footer.svg");
  background-position: top;
  background-repeat: no-repeat;
  width: 1598px;
  position: relative;
  text-align: center;
  color: $white;
  z-index: 2;

  // use for the footer background img responsive
  @media(max-width:1598px) {
    width: 100%;
  }

  @media(max-width:768px) {
    padding-top: 40px;
    background: $black;
  }

  // overflow: hidden;
  // clip-path: ellipse(100% 100% at 50% 80%);
  .container {
    position: relative;
    z-index: 2;
  }


  &::after {
    background-image: url("../images/footer-map.png");
    background-repeat: no-repeat;
    background-position: top;
    width: 903px;
    height: 375px;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

    @media(max-width:992px) {
      width: 100%;
      height: 365px;
      transform: translate(-50%, -30%);
    }
  }

  ul.nav-list {
    margin: 0px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 61px;

    li {
      a {
        text-decoration: none;
        color: $white;
      }
    }

    @media (max-width: 767px) {
      gap: 15px;
      flex-wrap: wrap;
    }
  }

  p {
    width: 807px;
    margin: 0;
  }

  h2 {
    font-size: $font-footer-heading;
    font-weight: 700;
    margin: 30px 0;
    line-height: 65px;

    span {
      font-weight: 700;
      background: -webkit-linear-gradient(-86deg, #F89500 5%, #DEC5FF 53%, #6BB2FF 91%);
      -webkit-background-clip: text;
      -webkit-text-stroke: 4px transparent;
      color: #232D2D;
    }

    @media(max-width:992px) {
      font-size: $font-size-fourth;
      line-height: 50px;
      margin: 0 0 30px;
    }
  }

  img.futar-lgo {
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translate(-50%, -50%);

    @media(max-width:768px) {
      width: 121px;
    }
  }
}

.footer-bottom {
  width: 100%;
  padding: 15px;
  background: $black;
  border-top: dashed 1px $futer-txt-btm;

  p,
  a {
    color: $futer-txt-btm;
    margin-bottom: 0;
  }

  ul.footer-icns {
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0;
    list-style: none;
    @include flex(row, center, center, 36px);
  }
}