@import "./mixin";
@import "./common";
@import "./variable";



.service-intro {

    .inner-heading-1 {
        font-size: $font-size-primery;
        font-weight: 400;
        margin: 0 0 10px;





        @media(max-width:1024px) {
            font-size: $font-size-fourth;
            line-height: 100%;
        }

        @media(max-width:767px) {
            font-size: $font-size-fourth;
            line-height: 100%;
            margin: 0 0 10px;
        }

        span {
            font-size: $font-size-primery;
            font-weight: 700;
            line-height: 100%;





            @media(max-width:1024px) {
                font-size: $font-size-third;
            }

            @media(max-width:767px) {
                font-size: $font-size-fourth;
            }

        }
    }


}

.what-we-deliver {
    width: 100%;
    height: auto;
    transition: .5s all ease-in;

    ul.services-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;



        li {

            border-bottom: dashed 1px #e7e7e7;

            span {
                width: 40px;
                height: 40px;
                background: transparent;
                display: flex;
                align-items: center;
                transition: .5s all ease-in;
                justify-content: center;
                border-radius: 5px;

                img {
                    width: 35px;
                }

                @media(max-width:767px) {
                    width: 30px;
                    height: 30px;
                }
            }

            p {
                font-size: $font-size-base2;
                font-weight: 500;
                margin: 0;

                @media(max-width:767px) {
                    font-size: $font-size-eight;
                }
            }

            img {
                width: 100%;
                max-width: 50px;

                @media(max-width:767px) {
                    width: 40px;
                }
            }

            @media(max-width:767px) {
                font-size: $font-size-eighteen;
                font-weight: 500;

            }

            &:last-child {
                border: none;
            }



        }
    }

    // &:hover ul li span {
    //     background: linear-gradient(180deg, #093F7E 0%, #0F6AD3 96.42%);
    //     transition: .5s all ease-in;

    //     img {
    //         filter: invert(1);
    //     }
    // }
}

.portfolio-inner {

    background: #F2F3EF;
    position: relative;

    h4 {
        margin: 0 0 54px;
    }

    .portfolio-full-inner {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        z-index: 95;

        img {
            width: 100%;
            height: auto;
        }


        .portfolio-backgrd {
            height: auto;
            width: 100%;
            min-height: 200px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #fff;
            padding: 0px 30px 10px 30px;
            background: linear-gradient(180.21deg, rgba(0, 0, 0, 0) 0.18%, #000000 58.67%);

            h5 {
                font-size: $font-size-base3;
                margin: 0 0 10px;
                color: #fff;

                span {
                    font-size: $font-size-base2;
                    font-weight: 300;

                    @media(max-width:1024px) {
                        font-size: $font-size-base05;
                    }

                    @media(max-width:767px) {
                        font-size: $font-size-seventh;
                    }
                }

                @media(max-width:1024px) {
                    font-size: $font-size-base2;
                }

                @media(max-width:767px) {
                    font-size: $font-size-sixith;
                }
            }
        }

        @media(max-width:768px) {
            margin: 0 0 20px;
        }
    }


    @media(max-width:767px) {
        margin: 0 0;
    }

    @media(max-width:992px) {}

    @media(max-width:1024px) {}
}

// .marquee-wrap {
//     background: linear-gradient(180deg, #093F7E 0%, #0F6AD3 96.42%);
//     padding: 43px;



//     ul.marquee-content {
//         display: flex;
//         margin: 0;
//         padding: 0;
//         list-style: none;
//         justify-content: space-between;

//         li {
//             width: 216px;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   border-radius: 12px;
//   border: 2px solid transparent;

//   background:
//     linear-gradient(rgba(15, 106, 211, 1), rgba(15, 106, 211, 1)) padding-box,
//     linear-gradient(180deg, #C8C8C8 0%, #B9FF4A 100%) border-box;

//         }
//     }

//     .marquee-wrapper {
//         width: 100%;
//         overflow: hidden;
//     }
// }


.marquee-wrap {
    background: linear-gradient(180deg, #093F7E 0%, #0F6AD3 96.42%);
    padding: 43px 0;

    .tools-swiper {
        width: 100%;
    }

    .swiper-slide {

        padding: 22px 0;
        border-radius: 10px;

        border: 2px solid transparent;

        background:
            linear-gradient(#155aaf, #155aaf) padding-box,
            /* inside (blue) */
            linear-gradient(180deg, #C8C8C8 0%, #B9FF4A 100%) border-box;
        /* border */
    }

    .tools-swiper .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .tools-swiper img {
        /* height: 85px; */
        width: 100%;
        display: block;
        margin: auto;
        max-width: 80px;
    }

}

section.uiux-design-service {

    min-height: 300px;
    background: linear-gradient(98.98deg, rgb(191 144 253 / 28%) 0.37%, rgb(240 255 254 / 65%) 50.1%, rgb(255 218 173 / 67%) 99.83%);

    .figma-title {
        display: flex;
        gap: 15px
    }

    img.figma-text {
        width: 34px;


    }

    .design-slider-wrapper {
        position: relative;
    }

    /* Card styling */
    .design-slider-wrapper {
        width: 100%;
        margin: 40px 0 0;
    }

    @media (max-width: 767px) {
        .service-slide {
            width: 80%;
        }
    }

    /* Tablet & above: reset */
    @media (min-width: 768px) {
        .service-slide {
            width: auto;
        }
    }

    .service-card {
        background: $white;
        color: $black;
        padding: 30px;
        border-radius: 0px;
        height: 100%;



        h3 {
            margin-bottom: 12px;
            font-size: $font-size-sixith;

            @media(max-width:767px) {
                font-size: $font-size-sixith;
            }
        }
    }





    /* Navigation buttons */
    .slider-nav {
        display: flex;
        gap: 21px;
        margin-top: 0;
        width: 100%;
        align-items: inherit;
        justify-content: end;
    }

    .slider-btn {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 1);
        background: transparent;
        color: #000;
        cursor: pointer;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .design-slider-wrapper {
        width: 100%;
        margin: 40px 0 0;
    }

    @media(max-width:767px) {
        padding: 40px 0 40px 0;
    }

}