@import "./mixin";
@import "./common";
@import "./variable";

.pricing-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 26px;

  li {
    display: flex;
    gap: 15px;
    align-items: center;

    img {
      width: 39px;
      height: auto;
    }

  }
}






.website-process {
  // background-color: $inner-testi-background;
  padding: 80px 0 160px 0;
  position: relative;
  //  background: #C7F5FF;
  //  background: linear-gradient(32deg, rgba(199, 245, 255, 0.65) 0%, rgba(242, 243, 239, 1) 37%, rgba(242, 243, 239, 1) 52%, rgba(242, 243, 239, 1) 73%, rgba(222, 197, 255, 0.59) 100%);

  .container {
    position: relative;
    z-index: 2 !important;
  }

  .process-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    img {
      width: 100%;
      height: auto;
    }

    h3 {
      font-size: $font-size-base3;
    }

    p {
      margin: 0;
    }

    .process-two {
      position: absolute;
      top: 0;
      color: $black;
      padding: 35px 30px;
    }

    .process-bg {
      background: linear-gradient(360deg, rgba(0, 0, 0, 0) -2.7%, #ffffff 25.25%);
      top: 0;
      bottom: auto;
      padding-bottom: 70px !important;


    }

    .process-bg-1 {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.7%, #ffffff 25.25%);
      bottom: 0;
      padding-top: 70px !important;
    }

    .process-box {
      position: absolute;
      color: $black;
      padding: 35px 30px;
    }
  }
}

// .arrow-container {
//   position: relative;

//   .pricing-arrow {
//     position: absolute;
//     top: -85px;
//     left: 0;
//     width: 260px;

//     @media(max-width:767px) {
//       display: none;
//     }
//   }
// }

.pricing-table-section {
  background: #DEC5FF8C;
  background: linear-gradient(51deg, rgba(233, 216, 255, 0.54) -31%, rgba(255, 255, 255, 0.82) 27%, rgba(173, 240, 255, 0.25) 48%, rgba(255, 255, 255, 0.71) 100%);

  .pricing-section {
    background: none;
  }

  .pricing-table {
    background: $white;
    position: relative;
    z-index: 5;

    thead {
      position: sticky;
      top: 0;

      p {
        font-size: $font-size-eighteen;
        margin: 0;
      }

      @media(max-width:992px) {
        display: none;
      }
    }
  }

  .pricing-wrapper {
    width: 100%;
  }

  /* Mobile plan navigation */
  .mobile-plan-switcher {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    background: $primary;
    padding: 10px;
    color: $white;
    text-align: center;

    p {
      font-weight: 600;
    }

    button {
      font-size: $font-size-fifth;
      height: 30px;
      width: 30px;
      line-height: 100%;
      padding: 0;
      margin: 0;
      @include flex(row, center, center, 0);
      border: none;
      border-radius: $radius-round;
    }
  }

  .tab-content {
    width: 100%;
  }

  .pricing-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: center;
    }

  }

  .icon {
    width: 18px;
    height: 18px;
  }

  /* RESPONSIVE */
  @media (max-width: 768px) {
    .desktop-only {
      display: none;
    }

    .mobile-only {
      display: table-cell;
    }

    .mobile-plan-switcher {
      display: flex;
    }

    .pricing-section .nav-tabs {
      width: 100%;
      position: relative !important;
      z-index: 5 !important;
    }
  }

  .border-btn {
    background-color: $white;
    box-shadow: 0 0 0 3px $primary inset;
    color: $primary;
    box-sizing: border-box;

    .btn-icon {
      border: solid 1px $primary
    }
  }
}