@import "./mixin";
@import "./common";
@import "./variable";

.section-padding {
    padding: 80px 0;

    @media(max-width:992px) {
        padding: 65px 0;
    }

    @media(max-width:576px) {
        padding: 40px 0;
    }
}

.sub-title {
    color: $primary;
}

.title-line {
    width: 30px;
    height: 1px;
    background: $dark;
}

.title-light {
    color: $light
}

.title-count {
    position: relative;
    z-index: 1;
}

.strok-text {
    @include flex(column, center, center, 0);
    color: $light;
    -webkit-text-stroke: 2px $dark-blue;
    padding: 30px;
    background: $light;
    border-radius: $radius-m;
    height: 100%;

    h2 {
        font-size: $font-size-primery;
        line-height: 72px;
        font-weight: 700;
        margin: 0;
        background: -webkit-linear-gradient(-56deg, #C79CFF 5%, #DEC5FF 33%, #6EE5FF 91%);
        animation: gradientMove 6s ease infinite;
        text-shadow: 2px 2px 4px rgb(0 0 0 / 32%);
    }

    @keyframes gradientMove {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }


    @media(max-width:1400px) {
        padding: 35px 40px;
    }

    @media(max-width:1300px) {
        h2 {
            font-size: $font-size-secondery;
            line-height: 62px;
        }
    }

    @media(max-width:1200px) {
        padding: 25px 30px;

        h2 {
            font-size: $font-size-third;
            line-height: 42px;
        }
    }
}

.count-row {
    background: $dark-blue;
    border-radius: $radius-m;
    position: relative;

    .count-card {
        @include flex(column, center, center, 0);
        color: $light;
        padding: 20px;
        height: 100%;
    }

    h2 {
        font-size: $font-size-primery;
        line-height: 72px;
        font-weight: 700;
        margin: 0;
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
        color: #ffffff;

        @media(max-width:1300px) {
            font-size: $font-size-secondery;
            line-height: 62px;
        }

        @media(max-width:1200px) {
            font-size: $font-size-third;
            line-height: 42px;
        }
    }

    .wha-col:nth-child(2),
    .wha-col:nth-child(3) {
        border-right: 1px solid #acadaf;
    }

    @media(max-width:1200px) {
        h2 {
            font-size: $font-size-fourth;
        }
    }

    @media(max-width:992px) {}

    @media(max-width:767px) {

        &::after {
            position: absolute;
            content: " ";
            width: 97%;
            height: 1px;
            top: 50%;
            background: $light;
        }

        &::before {
            position: absolute;
            content: " ";
            width: 1px;
            height: 95%;
            left: 50%;
            background: $light;
        }

        .strok-text {
            background: none;
            color: $dark-blue;
            -webkit-text-stroke: 2px $light;
            padding: 14px 20px;
        }

        .wha-col:nth-child(1) {
            border-left: 1px solid $light;
            border-bottom: 1px solid $light;
            border-right: none;
        }

        .wha-col:nth-child(2) {
            border: 0;
        }

        .wha-col:nth-child(3) {
            border: 0;
        }
    }

    @media(max-width:576px) {

        &::after,
        &::before {
            content: none;
        }

        .wha-col,
        .strok-box {
            border-bottom: 1px solid #acadaf !important;
        }

        .wha-col:nth-child(4) {
            border-bottom: 0 !important;
        }
    }
}

// why choose us
.why-choose-us {

    .wo-centent {
        @include flex(column, center, center, 15px);

        h2 {
            font-size: $font-size-third;
            line-height: 1;
            margin-bottom: 10px;

            @media(max-width:992px) {
                font-size: $font-size-fourth;
            }

            @media(max-width:992px) {
                font-size: $font-size-fifth;
            }
        }
    }

    .wo-agency-card {
        @include flex(column, flex-start, flex-start, 15px);
        background: $trinery;
        height: 100%;
        padding: 25px 20px;
        border-radius: $radius-xs;

        h3 {
            margin: 0;
            font-size: $font-size-base2;
        }

        @media(max-width:576px) {
            gap: 10px
        }
    }

    .wo-card-grid {
        @include flex(row, flex-start, center, 15px);

        .wo-card-slide {
            @include flex(row, flex-start, center, 15px);

            @media(max-width:576px) {
                display: flex !important;
                justify-content: flex-start;
                overflow-x: auto !important;
                scroll-snap-type: x mandatory !important;
                gap: 1rem !important;

                .slide-card {
                    flex: 0 0 75% !important;
                }
            }
        }

        @media(max-width:768px) {
            overflow: hidden;

            .wo-centent {
                gap: 0;
            }
        }

        @media(max-width:992px) {
            flex-direction: column;
        }
    }

}

// pricing section
.pricing-section {
    position: relative;
    background: $light;

    .pricing-container {
        position: relative;
        z-index: 2;
    }

    // for blu gradient
    &:before {
        content: " ";
        background: radial-gradient(circle at center, #d7e9f7 0%, #f8f9fa00 70%);
        width: 714px;
        height: 676px;
        position: absolute;
        top: 30px;
        right: 15%;
        z-index: 0;
    }

    // for burple gradient
    &:after {
        content: " ";
        background: radial-gradient(circle, #d0d1eb 0%, #e2e2e700 70%);
        width: 714px;
        height: 676px;
        position: absolute;
        top: 30px;
        left: 15%;
        z-index: 0;
    }

    @media(max-width:992px) {

        &:before,
        &:after {
            width: 80%;
        }
    }

    @media(max-width:768px) {
        .nav-tab-div {
            width: 100% !important;
        }

        &:before,
        &:after {
            content: none;
        }
    }

    .pricing-card {
        // opacity: 0.8;
        background: $light;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 0;
        cursor: pointer;
        border-radius: $radius-m;

        .msp-box {
            position: absolute;
            top: -20px;
            right: -10px;
            background: $dark-blue;
            color: $white;
            padding: 10px;
            border-radius: 0 25px 0 25px;
        }

        .card-title {
            padding: 6px 12px;
            background: linear-gradient(275deg, rgba(229, 241, 255, 0.8) 67%, rgba(237, 245, 255, 0.74) 94%, rgba(223, 249, 255, 0.75) 100%);
            font-size: $font-size-base075;
            width: max-content;
            border-radius: $radius-m;
            margin: 0;
            cursor: not-allowed;
        }

        span {
            color: $gray-text-2;
            font-size: $font-size-base0875;
        }

        ul {
            li {
                p {
                    font-size: $font-size-base0875;
                    line-height: $h5-lh;
                    white-space: nowrap;
                }
            }
        }

        .price-card-btn {
            border: 1px solid $dark-blue;
            background: none;
            color: $dark-blue;
            font-weight: 600;
            padding: 12px;
        }

        &:hover {
            background: $white;

            .price-card-btn {
                background: $dark-blue;
                color: $white;
            }
        }

        @media(max-width:576px) {
            .msp-box {
                top: -27px;
                right: 0px;
            }
        }
    }
}

.nav-tab-div {
    .nav-tabs {
        background: $white;
        // box-shadow: rgb(0, 11, 22) 0px 8px 24px;
        box-shadow: rgba(149, 157, 165, 0.281) 0px 2px 28px 10px;
        width: max-content;
        border: 0;
        border-radius: $radius-pill;
        padding: 5px;
        @include flex(row, center, center, 0);

        .nav-ghost-div {
            background: #DEC5FF;
            background: linear-gradient(275deg, rgba(222, 197, 255, 0.44) 31%, rgba(228, 149, 66, 0.43) 57%, rgba(222, 197, 255, 0.43) 79%);
            height: 85%;
            border-radius: $radius-pill;
            z-index: 2;

            @media(max-width:385px) {
                height: 90%;
            }
        }

        .nav-item {
            .nav-link {
                position: relative;
                color: $primary;
                font-weight: 600;
                font-size: $font-size-base05;
                text-align: center;
                border-radius: $radius-pill;
                padding: 15px 0;
                width: 318px;
                z-index: 4;
                background: none;

                @media(max-width:768px) {
                    padding: 14px 8px;
                    font-size: $font-size-base1;
                }

                @media(max-width:420px) {
                    padding: 5px 45px;
                    font-size: $font-size-base0875;
                }

                @media(max-width:330px) {
                    // padding: 5px 15px;
                }
            }
        }

        @media(max-width:768px) {
            width: 100%;

            .nav-item {
                width: 50%;

                .nav-link {
                    width: 100%;
                }
            }

            .nav-ghost-div {
                width: 257px
            }
        }

        .nav-link {
            border: none;

            &:hover {
                border: none;
            }
        }
    }
}

.tab-card-576 {
    @media(max-width:576px) {
        display: flex !important;
        justify-content: flex-start !important;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto !important;
        scroll-snap-type: x mandatory !important;
        gap: 0.5rem !important;
        padding-top: 50px;
        padding-bottom: 20px;

        .msp-box {
            position: absolute;
            top: -20px;
            right: -10px;
            background: $dark-blue;
            color: $white;
            padding: 10px;
            border-radius: 0 25px 0 25px;
        }

        .card-title {
            padding: 6px 12px;
            background: $trinery;
            font-size: $font-size-base075;
            width: max-content;
            border-radius: $radius-m;
            margin: 0;
            cursor: not-allowed;
        }

        span {
            color: $gray-text-2;
            font-size: $font-size-base0875;
        }

        ul {
            li {
                p {
                    line-height: $h5-lh;
                }
            }
        }

        .price-card-btn {
            border: 1px solid $dark-blue;
            background: none;
            color: $dark-blue;
            font-weight: 600;
            padding: 12px;

            &:hover {
                background: $dark-blue;
                color: $white;
            }
        }

        &:hover {
            background: $white;
        }

        @media(max-width:576px) {
            .msp-box {
                top: -27px;
                right: 0px;
            }
        }
    }


}

.tab-card-576 {
    @media(max-width:576px) {
        display: flex !important;
        justify-content: flex-start !important;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto !important;
        scroll-snap-type: x mandatory !important;
        gap: 0.5rem !important;
        padding-top: 50px;
        padding-bottom: 20px;

        .price-card-576 {
            flex: 0 0 75% !important;
            margin: 0 !important;
        }
    }
}

// use or whatsapp btn 
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: $white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    @include flex(row, center, center, 0);
    text-decoration: none;
    z-index: 1000;
}

// text type effect 
.text-type {
    display: inline-block;
    white-space: pre-wrap;
    color: $primary;
}

.text-type__cursor {
    margin-left: 0.25rem;
    display: inline-block;
    opacity: 1;
}

.text-type__cursor--hidden {
    display: none;
}

// scroll float
.scroll-float {
    overflow: hidden;
}

.scroll-float-text {
    display: inline-block;
    // font-size: ;
    font-weight: 900;
    text-align: center;
    line-height: 1.5;
}

.char {
    display: inline-block;
}

// scroll reveal
.scroll-reveal {
    margin: 20px 0;
}

.scroll-reveal-text {
    font-size: clamp(1rem, 4vw, 1rem);
    line-height: 1.5;
    font-weight: 600;
}

.word {
    display: inline-block;
}