@import "./mixin";
@import "./common";
@import "./variable";

.section-padding {
    padding: 80px 0;

    @media(max-width:992px) {
        padding: 65px 0;
    }

    @media(max-width:576px) {
        padding: 40px 0;
    }
}

.sub-title {
    color: $primary;
}

.title-line {
    width: 30px;
    height: 1px;
    background: $dark;
}

.title-light {
    color: $light
}

.title-count {
    position: relative;
    z-index: 1;
}

.strok-text {
    @include flex(column, center, center, 0);
    color: $light;
    -webkit-text-stroke: 2px $dark-blue;
    padding: 30px;
    background: $light;
    border-radius: $radius-m;
    height: 100%;

    h2 {
        font-size: $font-size-primery;
        line-height: 72px;
        font-weight: 700;
        margin: 0;
    }

    @media(max-width:1400px) {
        padding: 35px 40px;
    }

    @media(max-width:1300px) {
        h2 {
            font-size: $font-size-secondery;
            line-height: 62px;
        }
    }

    @media(max-width:1200px) {
        padding: 25px 30px;

        h2 {
            font-size: $font-size-third;
            line-height: 42px;
        }
    }
}

// why choose us
.why-choose-us {

    .wo-centent {
        @include flex(column, flex-start, center, 15px);

        h2 {
            font-size: $font-size-third;
            line-height: 1;
            margin-bottom: 10px;

            @media(max-width:768px) {
                font-size: $font-size-fourth;
            }
        }
    }

    .wo-agency-card {
        @include flex(column, flex-start, flex-start, 15px);
        background: $trinery;
        height: 100%;
        padding: 25px 20px;
        border-radius: $radius-xs;

        h3 {
            margin: 0;
            font-size: $font-size-base2;
        }

        @media(max-width:576px) {
            gap: 10px
        }
    }

    .count-row {
        background: $dark-blue;
        border-radius: $radius-m;
        position: relative;





        .count-card {
            @include flex(column, center, center, 0);
            color: $light;
            padding: 20px;
            height: 100%;
        }

        h2 {
            font-size: $font-size-primery;
            line-height: 72px;
            font-weight: 700;
            margin: 0;


    background: -webkit-linear-gradient(-86deg, #F89500 5%, #DEC5FF 53%, #C7F5FF 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #ffffff;

            @media(max-width:1300px) {
                font-size: $font-size-secondery;
                line-height: 62px;
            }

            @media(max-width:1200px) {
                font-size: $font-size-third;
                line-height: 42px;
            }
        }

        .wha-col:nth-child(2),
        .wha-col:nth-child(3) {
            border-right: 1px solid #acadaf;
        }

        @media(max-width:1200px) {
            h2 {
                font-size: $font-size-fourth;
            }
        }

        @media(max-width:992px) {}

        @media(max-width:767px) {

            &::after {
                position: absolute;
                content: " ";
                width: 97%;
                height: 1px;
                top: 50%;
                background: $light;
            }

            &::before {
                position: absolute;
                content: " ";
                width: 1px;
                height: 95%;
                left: 50%;
                background: $light;
            }

            .strok-text {
                background: none;
                color: $dark-blue;
                -webkit-text-stroke: 2px $light;
                padding: 14px 20px;
            }

            .wha-col:nth-child(1) {
                border-left: 1px solid $light;
                border-bottom: 1px solid $light;
                border-right: none;
            }

            .wha-col:nth-child(2) {
                border: 0;
            }

            .wha-col:nth-child(3) {
                border: 0;
            }
        }

        @media(max-width:576px) {

            &::after,
            &::before {
                content: none;
            }

            .wha-col,
            .strok-box {
                border-bottom: 1px solid #acadaf !important;
            }

            .wha-col:nth-child(4) {
                border-bottom: 0 !important;
            }
        }
    }

    .wo-card-grid {
        @include flex(row, flex-start, center, 15px);

        .wo-card-slide {
            @include flex(row, flex-start, center, 15px);

            @media(max-width:576px) {
                display: flex !important;
                justify-content: flex-start;
                overflow-x: auto !important;
                scroll-snap-type: x mandatory !important;
                gap: 1rem !important;

                .slide-card {
                    flex: 0 0 75% !important;
                }
            }
        }

        @media(max-width:768px) {
            overflow: hidden;

            .wo-centent {
                gap: 0;
            }
        }

        @media(max-width:992px) {
            flex-direction: column;
        }
    }

}

// worldwide business
// .worldwide-business {
//     background: linear-gradient(0deg, rgba(15, 109, 218, 1) 0%, rgba(8, 58, 116, 1) 100%);
//     position: relative;

//     .container {
//         position: relative;
//         z-index: 2;
//     }

//     &::before {
//         content: " ";
//         position: absolute;
//         top: 0;
//         left: 0;
//         background-image: url("../images/bussiness-ww-bg.png");
//         width: 639px;
//         height: 490px;
//         z-index: 0;
//     }

//     h2 {
//         span {
//             font-weight: 400;
//         }
//     }

//     p {
//         color: $gray-text;
//     }

//     .business-logo {
//         @include flex(row, center, center, 0);
//         padding: 30px;
//         border: 1px solid $light;
//         height: 100%;
//         border-radius: $radius-xs;
//         height: 100%;
//         transition: background 0.3s ease;
//         background: rgba(255, 255, 255, 0.06);
//         transform: translateZ(0);
//         backface-visibility: hidden;
//     }

//     @media(max-width:768px) {
//         &::before {
//             width: 100%;
//         }
//     }
// }

// pricing section
.pricing-section {
    position: relative;
    background: $light;

    .pricing-container {
        position: relative;
        z-index: 2;
    }

    // for blu gradient
    &:before {
        content: " ";
        background: radial-gradient(circle at center, #d7e9f7 0%, #f8f9fa00 70%);
        width: 714px;
        height: 676px;
        position: absolute;
        top: 30px;
        right: 15%;
        z-index: 0;
    }

    // for burple gradient
    &:after {
        content: " ";
        background: radial-gradient(circle, #d0d1eb 0%, #e2e2e700 70%);
        width: 714px;
        height: 676px;
        position: absolute;
        top: 30px;
        left: 15%;
        z-index: 0;
    }

    @media(max-width:992px) {

        &:before,
        &:after {
            width: 80%;
        }
    }

    @media(max-width:768px) {
        .nav-tab-div {
            width: 100% !important;
        }

        &:before,
        &:after {
            content: none;
        }
    }

    .pricing-card {
        // opacity: 0.8;
        background: $light;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 0;
        cursor: pointer;
        border-radius: $radius-m;

        .msp-box {
            position: absolute;
            top: -20px;
            right: -10px;
            background: $dark-blue;
            color: $white;
            padding: 10px;
            border-radius: 0 25px 0 25px;
        }

        .card-title {
            padding: 6px 12px;
            background: $trinery;
            font-size: $font-size-base075;
            width: max-content;
            border-radius: $radius-m;
            margin: 0;
            cursor: not-allowed;
        }

        span {
            color: $gray-text-2;
            font-size: $font-size-base0875;
        }

        ul {
            li {
                p {
                    line-height: $h5-lh;
                }
            }
        }

        .price-card-btn {
            border: 1px solid $dark-blue;
            background: none;
            color: $dark-blue;
            font-weight: 600;
            padding: 12px;

            &:hover {
                background: $dark-blue;
                color: $white;
            }
        }

        &:hover {
            background: $white;
        }

        @media(max-width:576px) {
            .msp-box {
                top: -27px;
                right: 0px;
            }
        }
    }
}

.nav-tab-div {
    .nav-tabs {
        background: $white;
        // box-shadow: rgb(0, 11, 22) 0px 8px 24px;
        box-shadow: rgba(149, 157, 165, 0.281) 0px 2px 28px 10px;
        width: max-content;
        border: 0;
        border-radius: $radius-pill;
        padding: 5px;
        @include flex(row, center, center, 0);

        .nav-ghost-div {
            background: #DEC5FF;
            background: linear-gradient(275deg, rgba(222, 197, 255, 0.44) 31%, rgba(228, 149, 66, 0.43) 57%, rgba(222, 197, 255, 0.43) 79%);
            height: 85%;
            border-radius: $radius-pill;
            z-index: 2;

            @media(max-width:385px) {
                height: 90%;
            }
        }

        .nav-item {
            .nav-link {
                position: relative;
                color: $primary;
                font-weight: 600;
                font-size: $font-size-base05;
                text-align: center;
                border-radius: $radius-pill;
                padding: 15px 0;
                width: 318px;
                z-index: 4;
                background: none;

                @media(max-width:768px) {
                    padding: 14px 8px;
                    font-size: $font-size-base1;
                }

                @media(max-width:420px) {
                    padding: 5px 45px;
                    font-size: $font-size-base0875;
                }

                @media(max-width:330px) {
                    // padding: 5px 15px;
                }
            }
        }

        @media(max-width:768px) {
            width: 100%;

            .nav-item {
                width: 50%;

                .nav-link {
                    width: 100%;
                }
            }

            .nav-ghost-div {
                width: 257px
            }
        }

        .nav-link {
            border: none;

            &:hover {
                border: none;
            }
        }
    }
}

.tab-card-576 {
    @media(max-width:576px) {
        display: flex !important;
        justify-content: flex-start !important;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto !important;
        scroll-snap-type: x mandatory !important;
        gap: 0.5rem !important;
        padding-top: 50px;
        padding-bottom: 20px;

        .msp-box {
            position: absolute;
            top: -20px;
            right: -10px;
            background: $dark-blue;
            color: $white;
            padding: 10px;
            border-radius: 0 25px 0 25px;
        }

        .card-title {
            padding: 6px 12px;
            background: $trinery;
            font-size: $font-size-base075;
            width: max-content;
            border-radius: $radius-m;
            margin: 0;
            cursor: not-allowed;
        }

        span {
            color: $gray-text-2;
            font-size: $font-size-base0875;
        }

        ul {
            li {
                p {
                    line-height: $h5-lh;
                }
            }
        }

        .price-card-btn {
            border: 1px solid $dark-blue;
            background: none;
            color: $dark-blue;
            font-weight: 600;
            padding: 12px;

            &:hover {
                background: $dark-blue;
                color: $white;
            }
        }

        &:hover {
            background: $white;
        }

        @media(max-width:576px) {
            .msp-box {
                top: -27px;
                right: 0px;
            }
        }
    }

    
}

.tab-card-576 {
        @media(max-width:576px) {
            display: flex !important;
            justify-content: flex-start !important;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: auto !important;
            scroll-snap-type: x mandatory !important;
            gap: 0.5rem !important;
            padding-top: 50px;
            padding-bottom: 20px;

            .price-card-576 {
                flex: 0 0 75% !important;
                margin: 0 !important;
            }
        }
    }