/* ---------- Testimonials ---------- */

@import "./common";
@import "./mixin";
@import "./variable";




.testimonial-wrap {
  // padding: 0px 0 60px;
  width: 100%;
  position: relative;

  .title-count,
  .swiper {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    width: 70%;
    position: absolute;
    height: 1000px;
    background-image: url("/src/assets/images/tback-1.svg");
    background-size: cover;
    left: 70px;
    top: -30px;
    z-index: 1;
  }

  &::after {
    content: "";
    width: 70%;
    position: absolute;
    height: 1000px;
    background-image: url("/src/assets/images/tback-2.svg");
    background-size: cover;
    right: 70px;
    top: -30px;
    z-index: 1;
  }

  @media(max-width:1200px) {

    &::before,
    &::after {
      width: 100%;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .container {
    position: relative;

    .swiper {
      padding: 70px 0 50px 0;
      margin: 0 0 40px;

      @media(max-width:576px) {
        padding: 40px 0;
        margin: 0;
      }
    }
  }

  .rating-name {
    text-align: left;
  }

  .user-name {
    font-size: 20px;
    font-weight: 700;
    color: $testi-text;
    line-height: $base-lh-2;
    margin: 0 0 5px;
  }

  .designation {
    font-size: $font-size-base1;
    font-weight: 400;
    line-height: $medium-lh;
    margin: 0 0 5px;
  }
}

.testimonial-swiper {
  padding-bottom: 50px;

  .swiper-slide.swiper-slide-active {
    z-index: 999;
  }
}

.testimonial-card {
  background: $white;
  border-radius: $radius-m;
  padding: 30px 25px;
  text-align: center;
  height: 382px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border: solid 1px $testi-border;
  @include flex(column, flex-start, space-between, 0);


  .image-testiomnial-wrap {
    @include flex(row, flex-start, flex-start, 15px);
    width: 100%;

    @media(max-width:576px) {
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .user-img {
        margin: 0;
      }
    }
  }

  @media(max-width:1200px) {
    height: 325px;
    padding: 25px;

    &::after {
      width: 54px;
      height: 54px;
    }
  }

  @media(max-width:992px) {
    height: 305px;

    &::after {
      width: 48px;
      height: 48px;
      top: -20px;
    }
  }

  @media(max-width:576px) {
    padding: 20px;
    height: 330px;
  }

  @media(max-width:420px) {
    padding: 20px;
    height: 360px;
  }
}

/* scrollbar itself */
.custom-scrollbar-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: $radius-round;
  overflow: hidden;
  // margin-bottom: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media(max-width:1200px) {
    width: 54px;
    height: 54px;
  }

  @media(max-width:768px) {
    width: 48px;
    height: 48px;
  }
}

.review-text {
  font-size: $font-size-base1;
  color: $testi-text;
  line-height: $medium-lh;
  font-weight: 400;
  margin: 20px 0 0;
  display: -webkit-box;
  // -webkit-line-clamp: 5; // number of lines
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media(max-width:1200px) {
    line-height: $medium-lh-2;
  }
}

.rating {
  margin-bottom: 12px;

  .star {
    font-size: $font-size-base05;
    color: #ccc;
    margin: 0 2px;
  }

  .filled {
    color: #083A74;
  }
}

.user-name {
  font-size: $font-size-base1;
  font-weight: 600;
  color: #222;
}

/* Center slide zoom effect */
.swiper-slide-active {

  .testimonial-card {
    transform: scale(1.15);
    background-color: $white;
    padding: 40px 36px 30px 36px;
    margin-top: 10px;

    &::after {
      content: "";
      position: absolute;
      width: 75px;
      height: 75px;
      background: #242424;
      mask: url("../images/double-quotes.svg") no-repeat center / contain;
      -webkit-mask: url("../images/double-quotes.svg") no-repeat center / contain;
      left: 5%;
      top: -31px;
      z-index: 99;
      transform: scale(1.2);
    }

    @media(max-width:1200px) {
      margin: 10px 0 0 0;
      padding: 25px;

      &::after {
        width: 54px;
        height: 54px;
      }
    }

    @media(max-width:992px) {
      margin: 15px 2px 0 2px;
      transform: scale(1.15);

      &::after {
        width: 48px;
        height: 48px;
        top: -20px;
      }
    }

    @media(max-width:576px) {
      padding: 18px;
    }
  }

  .review-text {
    margin: 20px 0 0;
  }

  .rating {
    margin: 0;
  }
}

/* Side slides */
.swiper-slide-prev .testimonial-card,
.swiper-slide-next .testimonial-card {
  opacity: 0.9;
  padding: 35px 36px 38px 36px;
  margin-top: 4%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 84px;
    height: 84px;
    background-image: url('../images/double-quotes.svg');
    left: 0%;
    z-index: 99;
    top: -30px;
    background-repeat: no-repeat;
  }
}

.horizontal-line {
  width: 100%; // 70% of screen width
  height: 11px;
  margin: 40px auto;
  border-radius: $radius-xl;
  position: relative;
  z-index: 100;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.5),
      $white 40%,
      rgba(255, 255, 255, 0.5));

  &::after {
    position: absolute;
    width: 38%;
    height: 17px;
    background: $white;
    content: "";
    top: -3px;
    border-radius: $radius-30;
    left: 31%;
  }
}

@media(max-width:1200px) {

  .review-text,
  .designation {
    font-size: $font-size-base0875 !important;
    // margin: 12px 0 !important;
    line-height: $small-lh;
    font-weight: 400;
  }

  .user-name {
    font-size: $font-size-base05 !important;
  }
}

@media(max-width:992px) {
  .testimonial-card {
    &::after {
      width: 48px;
      height: 48px;
    }
  }
}