@import "../assets/scss/variable";
@import "../assets/scss/mixin";

.header-wrap {
  background: linear-gradient(102.85deg, rgb(153 229 255 / 38%) 16.09%, rgba(241, 250, 254, 0.477673) 29.54%, rgba(235, 248, 253, 0.45132) 46.09%, rgba(255, 255, 255, 0.54) 63.01%, rgb(255 240 201 / 66%) 80.61%);
  // padding: 108px 0 0 0;
  min-height: 400px;
  text-align: center;

  .w-lgo-wrap {
    position: absolute;
    top: 150px;
    right: 30px;
    opacity: 0.7;

    img {
      width: 120px; // adjust size
      animation: logoPulse 2s ease-in-out infinite;
    }

    @keyframes logoPulse {

      0%,
      100% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.3);
      }
    }

  }

  .hero-images {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    width: max-content;
    will-change: transform;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;

    img {
      width: 20%;
      opacity: .7;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.06);
      }
    }



    @keyframes revealUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .hero-content {
    align-items: center;

    p {
      max-width: 50%;

      @media(max-width:992px) {
        max-width: 75%;
      }

      @media(max-width:756px) {
        max-width: 90%;
      }
    }

    .hero-buttons {
      @include flex(row, flex-end, space-between, 30px);
    }
  }

  @keyframes blink {

    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }
 @media(max-width:768px) {min-height: 200px;}
}

.header-portfolio {
  padding-top: 20px;
}

.mySwiper {
  overflow: visible;
}

.portfolio-slide {
  // width: 365px !important; // important for slidesPerView="auto"
  height: 362px !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media(max-width:1300px) {
    height: 270px !important;
  }
}

.portfolio-slide img {
  width: 100%;
  display: block;
  transform: translateY(0);
  opacity: 0.6;
  border-radius: $radius-xs;
  box-shadow: 0px 30px 30px -35px rgba(0, 0, 0, 0.24);
}

// arrow in header
.arrow-count {
  position: absolute;
  left: 10%;
  top: 190px;
  transform: translate(-50%, 50%);

  @media(max-width:1440px) {
    left: 130px !important;
    top: 150px;
  }

  @media(max-width:992px) {
    left: 120px !important;
    top: 80px;
  }

  @media(max-width:768px) {
    display: none;
    top: 50px;
  }
}