@import "../assets/scss/mixin";
@import "../assets/scss/variable";

// top bar
.top-bar {
    background: $primary;
    padding: 6px 10px;
    color: $light;

    a {
        font-size: $font-size-base075;
    }

    p {
        font-size: $font-size-base075;
    }
}

.nav {
    background: $white;

    .nav-container {
        background: linear-gradient(102.85deg, rgba(153, 229, 255, 0.38) 20.09%, rgba(241, 250, 254, 0.477673) 34.54%, rgba(235, 248, 253, 0.45132) 30.09%, rgba(255, 255, 255, 0.54) 65.01%, rgba(255, 240, 201, 0.66) 95.61%);
    }

    @media(max-width:768px) {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

.nav-img {
    @media(max-width:768px) {
        width: 90% !important;
    }
}

.navbar-ul {
    list-style: none;
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;

    li {
        border-right: 1px solid #D5D5D5D1;

        &:nth-child(5) {
            border: 0;
        }
    }

    a {
        color: $black;
        font-weight: 500;
        font-size: $font-size-base05;
        padding: 4px 30px;

        @media(max-width:1213px) {
            padding: 4px 16px;
            font-size: $font-size-base1;
        }
        &.active {
    color: $primary;
    font-weight: 600;
  }

    
    }

        button.nav-span {
            color: $black;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 4px 30px;
    border: transparent;
    background: none;

        @media(max-width:1213px) {
            padding: 4px 16px;
            font-size: $font-size-base1;
        }
          &.active {
    color: $primary;          // or your highlight color
    font-weight: 600;
  }
        }

    .dropdown-menu {
        // display: none;
        padding: 0;
        background: $primary;
        width: 430px;
        border-radius: $radius-s;
        border: none;
        position: absolute !important;
        /* ensure dropdown is above backdrop */
        z-index: 999 !important;

        li {
            margin: 0;
            padding: 16px;
            background: $trinery;
            border-bottom: 1px solid $primary;
            transition: all 0.2s ease;
            cursor: pointer;

            a {
                font-size: $font-size-base1;
                padding: 0;
            }

            &:hover {
                border-left: 12px solid $primary;
                background: $white;

                a {
                    color: $primary;
                }
            }
        }
    }
}

.nav-btn {
    padding: 8px 12px;
    font-size: $font-size-base1;
    line-height: 30px;
    font-weight: 500;
    @include flex(row, center, center, 30px);
    gap: 11px;
    border-radius: 60px;
    width: fit-content;
    background: $primary;
    color: $light;
    border: none;
    transition: .3s all ease-in;

    img {
        width: 28px;
        height: 28px;
        padding: 5px;
        border-radius: 50%;
        transition: .5s all ease-in;
        background: $light;
    }

    &:hover {
        background-color: #000000;
        transition: .5s all ease-in;
    }

    &:hover img {
        transform: rotate(45deg);
        transition: .5s all ease-in;
    }
}

// desk ham btn
.desk-ham {
    width: 48px;
    height: 48px;
    padding: 12px 10px;
    @include flex(column, flex-end, space-between, 0);
    cursor: pointer;

    &:hover {
        .desk-ham-bar {

            &:nth-child(2),
            &:nth-child(3) {
                width: 100%;
            }
        }
    }

    .desk-ham-bar {
        height: 3px;
        background: $black;
        border-radius: 10%;

        &:nth-child(1) {
            width: 100%;
        }

        &:nth-child(2) {
            transition: all 0.4s ease;
            width: 60%;
        }

        &:nth-child(3) {
            transition: all 0.4s ease;
            width: 30%;
        }
    }
}

.nav-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 50;
}

.sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 50;
}

// sidebar
.sidebar-count {
    padding: 55px 40px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    height: 100vh;
    width: 550px;
    background: $dark;
    overflow-y: scroll;

    .desk-ham {
        width: 48px;
        height: 48px;
        padding: 12px 10px;
        @include flex(column, flex-end, space-between, 0);
        cursor: pointer;
    }

    .dashed-border {
        border-bottom: 1px dashed $gray-text;
    }

    h4,
    p {
        color: $light;
    }

    .navbar-ul {
        li {
            border: none;
            padding: 8px 0 8px 0;
        }

        a {
            width: 100%;
            color: $white;
            padding: 0;

            &:hover {
                color: $white;
            }
            &.active {
    color: $white;
    font-weight: 600;
  }
        }

        &.active {
    a {
      color: $primary;      // active text color
      font-weight: 600;
    }
}

    }

    .sidebar-sub-link {
        padding: 0;
        @include flex(row, center, flex-start, 10px);
        flex-wrap: wrap;

        li {
            width: max-content;
            padding: 4px 8px;
            background: #373839;
            border-radius: $radius-pill;

            &::marker {
                content: none;
            }

            a {
                color: $gray-text;
                padding: 0;
                font-size: $font-size-base075;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    @media(max-width:992px) {
        width: 410px;
    }

    @media(max-width:576px) {
        padding: 20px;
        width: 300px;
    }

}

// use in sidebar sub link to open like accordian
.acoordian-nav-list {
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin-top: 10px;

    li {
        padding-left: 15px !important;
        border-bottom: 1px solid $gray-text !important;

        a {
            color: $gray-text !important;
        }

        &:hover {

            a {
                color: $link-blue !important;
            }
        }

        &:nth-child(1) {
            border-top: 1px solid $gray-text !important;
        }
    }

    @media (max-width:768px) {
        a {
            font-size: $font-size-base0875;
        }
    }
}

// contact
.contact-box {
    p {
        color: $light;
        margin: 0;
        font-size: $font-size-base05;
    }

    img {
        width: 35px;
        height: 35px;
    }

    a {
        color: $white;

        &:hover {
            color: $link-blue;
        }
    }

    @media(max-width:576px) {
        img {
            width: 18px;
            height: 18px;
        }

        a {
            font-size: $font-size-base0875;
        }
    }
}


.top-bar-link {
    a {
        color: $white;

        &:hover {
            color: $light;
        }
    }
}

.nav-span {
  cursor: pointer;
  user-select: none;
}

.nav-span.active {
  color: $blue;
  font-weight: 600;
}