@import "../assets/scss/variable";
@import "../assets/scss/mixin";

.portfolio-page {

    .blue-box {
        background: rgba(23, 23, 23, 1);
        padding: 25px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        transition: background 0.3s ease;
    }

}