// @import "../assets/scss/common";
@import "../assets/scss/mixin";
@import "../assets/scss/variable";


.stack-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.stack-section {
  position: absolute;
  inset: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 120px;
  background: #ffffff;
  // color: #fff;
  // border: 1px solid #000;
}

.stack-section:nth-child(1) {
  height: 100%;
  z-index: 1;
}

.stack-section:nth-child(2) {
  height: 100%;
  z-index: 2;
}

.stack-section h2 {
  font-size: 64px;
  margin-bottom: 16px;
}

.stack-section {
  pointer-events: none;
}

.stack-section.active {
  pointer-events: auto;
}

@media (max-width: 768px) {
  .stack-section {
    padding: 0 24px;
  }

  .stack-section h2 {
    font-size: 40px;
  }
}

.swiper-scrollbar {
  height: 6px;
  background: #e6e6e6;
  border-radius: 10px;
  margin-top: 20px;

  .swiper-scrollbar-drag {
    background: #000;
    border-radius: 10px;
  }
}

// ====================================

.what-we-offer {
  position: relative;
  height: 80vh;
  overflow: hidden;

  &::before {
    position: absolute;
    content: " ";
    width: 387px;
    height: 379px;
    background: #DEC5FF;
    background: radial-gradient(circle, rgb(222, 197, 255) 0%, rgba(0, 0, 0, 0) 70%);
    top: -180px;
    right: 0;
    z-index: -1;
  }
}

// .stack-scroll-inner {
//   position: absolute;
//   inset: 0;
//   display: flex;
//   flex-direction: column;

//   @media(max-width:768px) {
//     overflow-y: auto;
//   }
// }

// .stack-scroll-container {
//   overflow: hidden;
//   // height: 100vh;
//   position: relative;
//   height: calc(590px); // container shows 4 rows
//   border-top: 2px dashed $gray-text;
//   border-bottom: 2px dashed $gray-text;

//   .stack-content {
//     padding: 0 40px;
//   }

//   .stack-img img {
//     width: 200px;
//     height: auto;
//   }
// }

.item-content {
  @include flex(column, center, center, 0);
  height: 600px;
}

// stack-scroll section
.scroll-section {
  .wrapper {
    height: 100vh;
  }

  .list {
    height: 100%;
    position: relative;
  }

  .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
  }

  .item:nth-child(2) {
    z-index: 5;
  }

  .item-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 0;
    width: 100%;
    height: 100vh;
    background: $white;
  }
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.stack-row {
  // height: 25vh;
  width: 100%;
  height: calc(600px / 4);
  border-top: 2px dashed $gray-text;
  transition: all 0.4s ease;

  // stack row hover
  &:hover {
    background: #E5F1FF;
    background: linear-gradient(275deg, rgba(229, 241, 255, 0.8) 67%, rgba(237, 245, 255, 0.74) 94%, rgba(223, 249, 255, 0.75) 100%);
    padding: 0 2px;

    .stack-content {
      padding: 0 2px;

      .stack-img {
        width: 145px;
        height: 145px;

        &::before,
        &::after {
          opacity: 0;
          transform: translate(-50px, -50px);
        }
      }
    }

    @media(max-width:768px) {
      &:hover {
        .stack-content .stack-img {
          width: 120px;
          height: 120px;
        }
      }
    }
  }

  .stack-content {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    justify-items: stretch;
    align-items: center;
    transition: all 0.4s ease;
    height: 150px;
    border-bottom: 2px dashed $gray-text;
    padding: 0 35px;

    h4 {

      span {
        font-weight: 300;
      }
    }

    .stack-img {
      position: relative;
      width: 56px;
      height: 56px;
      transition: all 0.4s ease;
      // @include flex (row, center, center, 0);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        width: 56px;
        height: 56px;
        // @include flex(row, center, center, 0);
        background: $primary;
        border-radius: $radius-round;
        z-index: 2;
        left: 0;
        opacity: 0.8;
        transform: translate(0px, 0px);
      }

      &::before {
        content: '';
        position: absolute;
        width: 56px;
        height: 56px;
        // @include flex(row, center, center, 0);
        background: $primary;
        border-radius: $radius-round;
        z-index: 3;
        opacity: 1;

        mask: url('../assets/images/arrow-one.svg') center/24px 24px no-repeat;
        -webkit-mask: url('../assets/images/arrow-one.svg') center/24px 24px no-repeat;

        background-color: $light;
      }
    }

    // @media(max-width:1200px) {}

    @media(max-width:992px) {
      grid-template-columns: 1fr auto;

    }

    @media(max-width:576px) {
      h4 {
        font-size: $font-size-sixith;
      }
    }
  }
}

.stack-scroll-count {
  padding: 50px 0;

  .stack-row:nth-child(1) {
    border-top: 2px dashed $gray-text;
  }
}

.stack-wrapper {
  position: relative;
  height: 100vh;
}

.stack-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}