// @import "../assets/scss/common";
@import "../assets/scss/mixin";
@import "../assets/scss/variable";

.what-we-offer {
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    width: 387px;
    height: 379px;
    background: #DEC5FF;
    background: radial-gradient(circle, rgb(222, 197, 255) 0%, rgba(0, 0, 0, 0) 75%);
    top: -180px;
    right: 0;
    z-index: 2;

    @media(max-width:768px) {
      content: none;
    }
  }
}

.stack-row {
  // height: 25vh;
  width: 100%;
  height: calc(600px / 4);
  border-top: 2px dashed $gray-text;
  transition: all 0.4s ease;

  // stack row hover
  &:hover {
    background: #E5F1FF;
    background: linear-gradient(275deg, rgba(229, 241, 255, 0.8) 67%, rgba(237, 245, 255, 0.74) 94%, rgba(223, 249, 255, 0.75) 100%);
    padding: 0 2px;

    .stack-content {
      padding: 0 2px;

      .stack-img {
        width: 145px;
        height: 145px;

        &::before,
        &::after {
          opacity: 0;
          transform: translate(-50px, -50px);
        }
      }
    }

    @media(max-width:768px) {
      &:hover {
        padding: 0;

        .stack-content {
          padding: 0 10px;
        }

        .stack-img {
          width: 56px;
          height: 56px;

          &::before,
          &::after {
            opacity: 0;
            transform: translate(-50px, -50px);
            content: none;
          }
        }
      }
    }

    @media(max-width:576px) {
      &:hover {
        padding: 0;
      }
    }
  }

  .stack-content {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    justify-items: stretch;
    align-items: center;
    transition: all 0.4s ease;
    height: 150px;
    padding: 0 35px;

    h4 {

      span {
        font-weight: 300;
      }
    }

    .stack-img {
      position: relative;
      width: 56px;
      height: 56px;
      transition: all 0.4s ease;
      // @include flex (row, center, center, 0);
      overflow: hidden;

      .animated-arrow-btn {
        width: 56px;
        display: block;
        filter: invert(1);

        @media(max-width:576px) {
          width: 40px;
        }
      }

      img {
        width: 100%;
        height: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        width: 56px;
        height: 56px;
        // @include flex(row, center, center, 0);
        background: $primary;
        border-radius: $radius-round;
        z-index: 2;
        left: 0;
        top: 0;
        opacity: 0.8;
        transform: translate(0px, 0px);

        @media(max-width:768px) {
          opacity: 1;
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: 56px;
        height: 56px;
        // @include flex(row, center, center, 0);
        background: $primary;
        border-radius: $radius-round;
        z-index: 3;
        opacity: 1;
        left: 0;
        mask: url('../assets/images/arrow-one.svg') center/24px 24px no-repeat;
        -webkit-mask: url('../assets/images/arrow-one.svg') center/24px 24px no-repeat;
        background-color: $light;
      }

      @media(max-width:768px) {
        @include flex(row, center, center, 0);
        width: 56px;

        &:before,
        &:after {
          content: none;
        }
      }
    }

    @media(max-width:992px) {
      grid-template-columns: 1fr auto;

    }

    @media(max-width:768px) {
      padding: 30px 10px;
    }

    @media(max-width:576px) {
      height: auto;
      padding: 30px 10px !important;

      h4 {
        font-size: $font-size-base4;
      }
    }
  }

  @media(max-width:576px) {
    height: auto;
  }
}

.stack-scroll {
  .title-content {
    position: sticky;
    top: 0px;
  }
}

// stack scroll 
.section-scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.div-container {
  width: 100%;
  height: 600px;
  text-align: center;
  // margin: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 80px;
  z-index: 1;

  @media(max-width:768px) {
    height: auto;
    position: static;
    top: auto;
  }
}

.div-container.div2 {
  z-index: 4;
  background: $trinery;

  // background: linear-gradient(102.85deg, rgb(153 229 255 / 38%) 16.09%, rgba(241, 250, 254, 0.477673) 29.54%, rgba(235, 248, 253, 0.45132) 46.09%, rgba(255, 255, 255, 0.54) 63.01%, rgb(255 240 201 / 66%) 80.61%);
  @media(max-width:768px) {
    background: $white;
  }
}

.stack-pad {
  background: $trinery;
}

.div1,
.div2 {
  background: $white;
}